{
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "error": {
            "description": "Error message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Request": {
        "properties": {
          "expression": {
            "description": "Mathematical expression to evaluate",
            "type": "string"
          },
          "variables": {
            "description": "Variable values for evaluation",
            "type": "object"
          }
        },
        "required": [
          "expression"
        ],
        "type": "object"
      },
      "Response": {
        "properties": {
          "latex": {
            "description": "LaTeX representation",
            "type": "string"
          },
          "result": {
            "description": "Computed result",
            "type": "string"
          },
          "steps": {
            "description": "Step-by-step solution",
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "expression": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Parse and generate Mathematica/Wolfram Language syntax for compatibility with Wolfram products.\nSupports bidirectional conversion between MathHook expressions and Wolfram notation.\n",
    "title": "Wolfram Language Notation",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/parser/wolfram": {
      "post": {
        "description": "Parse and generate Mathematica/Wolfram Language syntax for compatibility with Wolfram products.\nSupports bidirectional conversion between MathHook expressions and Wolfram notation.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "basic_wolfram_parsing": {
                  "description": "Parse common Wolfram Language expressions",
                  "summary": "Basic Wolfram Parsing",
                  "value": {
                    "expression": "parse_wolfram(\"Sin[x]\")"
                  }
                },
                "calculus_operations": {
                  "description": "Wolfram calculus notation",
                  "summary": "Calculus Operations",
                  "value": {
                    "expression": "parse_wolfram(\"D[x^2, x]\")  # 2x"
                  }
                },
                "generating_wolfram_output": {
                  "description": "Format MathHook expressions as Wolfram Language",
                  "summary": "Generating Wolfram Output",
                  "value": {
                    "expression": "WolframFormatter()"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {},
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "Successful computation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Invalid input"
          }
        },
        "summary": "Wolfram Language Notation",
        "tags": [
          "parser"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.mathhook.org/v1"
    }
  ],
  "tags": [
    {
      "description": "parser operations",
      "name": "parser"
    }
  ]
}