{
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "error": {
            "description": "Error message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Request": {
        "properties": {
          "expression": {
            "description": "Mathematical expression to evaluate",
            "type": "string"
          },
          "variables": {
            "description": "Variable values for evaluation",
            "type": "object"
          }
        },
        "required": [
          "expression"
        ],
        "type": "object"
      },
      "Response": {
        "properties": {
          "latex": {
            "description": "LaTeX representation",
            "type": "string"
          },
          "result": {
            "description": "Computed result",
            "type": "string"
          },
          "steps": {
            "description": "Step-by-step solution",
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "expression": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Educational explanations transform mathematical operations from black boxes into transparent learning experiences. The step-by-step system generates detailed walkthroughs showing exactly how MathHook arrives at solutions.\n",
    "title": "Step-by-Step Explanations",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/educational/step_by_step": {
      "post": {
        "description": "Educational explanations transform mathematical operations from black boxes into transparent learning experiences. The step-by-step system generates detailed walkthroughs showing exactly how MathHook arrives at solutions.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "enhanced_steps_with_api_data": {
                  "description": "Create enhanced steps for external application integration",
                  "summary": "Enhanced Steps with API Data",
                  "value": {
                    "expression": "{"
                  }
                },
                "expansion_explanation": {
                  "description": "Show polynomial expansion with educational context",
                  "summary": "Expansion Explanation",
                  "value": {
                    "expression": "symbol('x')"
                  }
                },
                "simple_simplification_explanation": {
                  "description": "Generate and display step-by-step simplification",
                  "summary": "Simple Simplification Explanation",
                  "value": {
                    "expression": "symbol('x')"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {},
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "Successful computation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Invalid input"
          }
        },
        "summary": "Step-by-Step Explanations",
        "tags": [
          "educational"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.mathhook.org/v1"
    }
  ],
  "tags": [
    {
      "description": "educational operations",
      "name": "educational"
    }
  ]
}