{
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "error": {
            "description": "Error message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Request": {
        "properties": {
          "expression": {
            "description": "Mathematical expression to evaluate",
            "type": "string"
          },
          "variables": {
            "description": "Variable values for evaluation",
            "type": "object"
          }
        },
        "required": [
          "expression"
        ],
        "type": "object"
      },
      "Response": {
        "properties": {
          "latex": {
            "description": "LaTeX representation",
            "type": "string"
          },
          "result": {
            "description": "Computed result",
            "type": "string"
          },
          "steps": {
            "description": "Step-by-step solution",
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "expression": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Boundary conditions (BCs) specify constraints on the PDE solution at domain boundaries.\nThey determine eigenvalues and influence solution behavior. Covers Dirichlet, Neumann,\nRobin, and periodic boundary conditions with implementation details and eigenvalue computation.\n",
    "title": "Boundary Conditions",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/advanced/pde/boundary_conditions": {
      "post": {
        "description": "Boundary conditions (BCs) specify constraints on the PDE solution at domain boundaries.\nThey determine eigenvalues and influence solution behavior. Covers Dirichlet, Neumann,\nRobin, and periodic boundary conditions with implementation details and eigenvalue computation.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "homogeneous_dirichlet_boundary_condition": {
                  "description": "Fixed value at both boundaries (u=0), commonly used for heat equation with fixed temperatures",
                  "summary": "Homogeneous Dirichlet Boundary Condition",
                  "value": {
                    "expression": "symbol('x')"
                  }
                },
                "non-homogeneous_dirichlet_boundary_condition": {
                  "description": "Fixed non-zero value at boundary, common in heat transfer with maintained temperatures",
                  "summary": "Non-Homogeneous Dirichlet Boundary Condition",
                  "value": {
                    "expression": "symbol('x')"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {},
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "Successful computation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Invalid input"
          }
        },
        "summary": "Boundary Conditions",
        "tags": [
          "advanced"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.mathhook.org/v1"
    }
  ],
  "tags": [
    {
      "description": "advanced operations",
      "name": "advanced"
    }
  ]
}