{
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "error": {
            "description": "Error message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Request": {
        "properties": {
          "expression": {
            "description": "Mathematical expression to evaluate",
            "type": "string"
          },
          "variables": {
            "description": "Variable values for evaluation",
            "type": "object"
          }
        },
        "required": [
          "expression"
        ],
        "type": "object"
      },
      "Response": {
        "properties": {
          "latex": {
            "description": "LaTeX representation",
            "type": "string"
          },
          "result": {
            "description": "Computed result",
            "type": "string"
          },
          "steps": {
            "description": "Step-by-step solution",
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "expression": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Find poles of rational and transcendental functions for applications in\ncontrol theory, signal processing, and complex analysis. SymPy-validated\npole locations for trigonometric functions.\n",
    "title": "Residue Calculus and Pole Finding",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/advanced/residue_calculus": {
      "post": {
        "description": "Find poles of rational and transcendental functions for applications in\ncontrol theory, signal processing, and complex analysis. SymPy-validated\npole locations for trigonometric functions.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "control_system_stability": {
                  "description": "Transfer function pole analysis for stability",
                  "summary": "Control System Stability",
                  "value": {
                    "expression": "symbols('s')"
                  }
                },
                "rational_function_poles": {
                  "description": "Find poles where denominator equals zero",
                  "summary": "Rational Function Poles",
                  "value": {
                    "expression": "symbols('z')"
                  }
                },
                "trigonometric_function_poles_(sympy_validated)": {
                  "description": "Poles of tan, cot, sec, csc functions",
                  "summary": "Trigonometric Function Poles (SymPy Validated)",
                  "value": {
                    "expression": "symbols('x', real"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {},
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "Successful computation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Invalid input"
          }
        },
        "summary": "Residue Calculus and Pole Finding",
        "tags": [
          "advanced"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.mathhook.org/v1"
    }
  ],
  "tags": [
    {
      "description": "advanced operations",
      "name": "advanced"
    }
  ]
}