{
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "error": {
            "description": "Error message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Request": {
        "properties": {
          "expression": {
            "description": "Mathematical expression to evaluate",
            "type": "string"
          },
          "variables": {
            "description": "Variable values for evaluation",
            "type": "object"
          }
        },
        "required": [
          "expression"
        ],
        "type": "object"
      },
      "Response": {
        "properties": {
          "latex": {
            "description": "LaTeX representation",
            "type": "string"
          },
          "result": {
            "description": "Computed result",
            "type": "string"
          },
          "steps": {
            "description": "Step-by-step solution",
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "expression": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Work with complex numbers in MathHook including imaginary unit i, complex\narithmetic, polar form, Euler's formula, and operations like conjugate,\nmagnitude, and argument.\n",
    "title": "Complex Number Operations",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/advanced/complex_numbers": {
      "post": {
        "description": "Work with complex numbers in MathHook including imaginary unit i, complex\narithmetic, polar form, Euler's formula, and operations like conjugate,\nmagnitude, and argument.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "basic_complex_arithmetic": {
                  "description": "",
                  "summary": "Basic Complex Arithmetic",
                  "value": {
                    "expression": "expr('I')"
                  }
                },
                "euler's_formula": {
                  "description": "",
                  "summary": "Euler's Formula",
                  "value": {
                    "expression": "symbol('theta')"
                  }
                },
                "polar_form_conversion": {
                  "description": "",
                  "summary": "Polar Form Conversion",
                  "value": {
                    "expression": "expr('3 + 4*I')"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {},
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "Successful computation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Invalid input"
          }
        },
        "summary": "Complex Number Operations",
        "tags": [
          "advanced"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.mathhook.org/v1"
    }
  ],
  "tags": [
    {
      "description": "advanced operations",
      "name": "advanced"
    }
  ]
}