{
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "error": {
            "description": "Error message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Request": {
        "properties": {
          "expression": {
            "description": "Mathematical expression to evaluate",
            "type": "string"
          },
          "variables": {
            "description": "Variable values for evaluation",
            "type": "object"
          }
        },
        "required": [
          "expression"
        ],
        "type": "object"
      },
      "Response": {
        "properties": {
          "latex": {
            "description": "LaTeX representation",
            "type": "string"
          },
          "result": {
            "description": "Computed result",
            "type": "string"
          },
          "steps": {
            "description": "Step-by-step solution",
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "expression": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Replace variables with values or expressions to evaluate, simplify, or transform expressions.\n",
    "title": "Substitution",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/operations/substitution": {
      "post": {
        "description": "Replace variables with values or expressions to evaluate, simplify, or transform expressions.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "expression_substitution": {
                  "description": "Replace with another expression",
                  "summary": "Expression Substitution",
                  "value": {
                    "expression": "symbol('x')"
                  }
                },
                "single_variable_substitution": {
                  "description": "Replace variable with number",
                  "summary": "Single Variable Substitution",
                  "value": {
                    "expression": "symbol('x')"
                  }
                },
                "u-substitution_for_integration": {
                  "description": "Transform difficult integrals",
                  "summary": "U-Substitution for Integration",
                  "value": {
                    "expression": "symbol('x')"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {},
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "Successful computation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Invalid input"
          }
        },
        "summary": "Substitution",
        "tags": [
          "operations"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.mathhook.org/v1"
    }
  ],
  "tags": [
    {
      "description": "operations operations",
      "name": "operations"
    }
  ]
}