{
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "error": {
            "description": "Error message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Request": {
        "properties": {
          "expression": {
            "description": "Mathematical expression to evaluate",
            "type": "string"
          },
          "variables": {
            "description": "Variable values for evaluation",
            "type": "object"
          }
        },
        "required": [
          "expression"
        ],
        "type": "object"
      },
      "Response": {
        "properties": {
          "latex": {
            "description": "LaTeX representation",
            "type": "string"
          },
          "result": {
            "description": "Computed result",
            "type": "string"
          },
          "steps": {
            "description": "Step-by-step solution",
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "expression": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "WebAssembly (WASM) bindings for MathHook, enabling browser-based symbolic mathematics\nwithout requiring Node.js. Documentation is under development.\n",
    "title": "WebAssembly Bindings",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/bindings/wasm": {
      "post": {
        "description": "WebAssembly (WASM) bindings for MathHook, enabling browser-based symbolic mathematics\nwithout requiring Node.js. Documentation is under development.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "planned_browser_usage_(future)": {
                  "description": "Example of how WASM bindings will be used in browsers (not yet available)",
                  "summary": "Planned Browser Usage (Future)",
                  "value": {
                    "expression": "x**2"
                  }
                },
                "react_component_example_(future)": {
                  "description": "Planned integration with React components using WASM",
                  "summary": "React Component Example (Future)",
                  "value": {
                    "expression": "x**2"
                  }
                },
                "web_worker_integration_(future)": {
                  "description": "Offload heavy symbolic computation to Web Workers",
                  "summary": "Web Worker Integration (Future)",
                  "value": {
                    "expression": "x**2"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {},
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "Successful computation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Invalid input"
          }
        },
        "summary": "WebAssembly Bindings",
        "tags": [
          "bindings"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.mathhook.org/v1"
    }
  ],
  "tags": [
    {
      "description": "bindings operations",
      "name": "bindings"
    }
  ]
}