{
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "error": {
            "description": "Error message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Request": {
        "properties": {
          "expression": {
            "description": "Mathematical expression to evaluate",
            "type": "string"
          },
          "variables": {
            "description": "Variable values for evaluation",
            "type": "object"
          }
        },
        "required": [
          "expression"
        ],
        "type": "object"
      },
      "Response": {
        "properties": {
          "latex": {
            "description": "LaTeX representation",
            "type": "string"
          },
          "result": {
            "description": "Computed result",
            "type": "string"
          },
          "steps": {
            "description": "Step-by-step solution",
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "expression": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Complete API reference for MathHook's noncommutative algebra support,\nincluding symbol creation macros, type queries, and equation solving.\n",
    "title": "Noncommutative Algebra API Reference",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/advanced/noncommutative_api_reference": {
      "post": {
        "description": "Complete API reference for MathHook's noncommutative algebra support,\nincluding symbol creation macros, type queries, and equation solving.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "bulk_symbol_creation": {
                  "description": "Create multiple symbols at once",
                  "summary": "Bulk Symbol Creation",
                  "value": {
                    "expression": "symbols('x y z')"
                  }
                },
                "symbol_creation_macros": {
                  "description": "Create symbols with different types",
                  "summary": "Symbol Creation Macros",
                  "value": {
                    "expression": "symbols('x')"
                  }
                },
                "type_queries": {
                  "description": "Check symbol type and commutativity",
                  "summary": "Type Queries",
                  "value": {
                    "expression": "symbols('x')"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {},
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "Successful computation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Invalid input"
          }
        },
        "summary": "Noncommutative Algebra API Reference",
        "tags": [
          "advanced"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.mathhook.org/v1"
    }
  ],
  "tags": [
    {
      "description": "advanced operations",
      "name": "advanced"
    }
  ]
}