{
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "error": {
            "description": "Error message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Request": {
        "properties": {
          "expression": {
            "description": "Mathematical expression to evaluate",
            "type": "string"
          },
          "variables": {
            "description": "Variable values for evaluation",
            "type": "object"
          }
        },
        "required": [
          "expression"
        ],
        "type": "object"
      },
      "Response": {
        "properties": {
          "latex": {
            "description": "LaTeX representation",
            "type": "string"
          },
          "result": {
            "description": "Computed result",
            "type": "string"
          },
          "steps": {
            "description": "Step-by-step solution",
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "expression": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "SymPy serves as the authoritative reference for validating MathHook PDE solvers. With 15+ years\nof development, extensive test coverage, and academic validation, SymPy provides a reliable\nbaseline for comparing solution structures, eigenvalues, and boundary condition satisfaction.\nThis workflow is used internally for validation only; public documentation cites textbooks.\n",
    "title": "SymPy Validation Workflow",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/advanced/pde/sympy_validation": {
      "post": {
        "description": "SymPy serves as the authoritative reference for validating MathHook PDE solvers. With 15+ years\nof development, extensive test coverage, and academic validation, SymPy provides a reliable\nbaseline for comparing solution structures, eigenvalues, and boundary condition satisfaction.\nThis workflow is used internally for validation only; public documentation cites textbooks.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "eigenvalue_scaling_validation": {
                  "description": "Test eigenvalue scaling with different domain lengths",
                  "summary": "Eigenvalue Scaling Validation",
                  "value": {
                    "expression": "2.0"
                  }
                },
                "heat_equation_validation": {
                  "description": "Compare MathHook solution with SymPy reference for heat equation",
                  "summary": "Heat Equation Validation",
                  "value": {
                    "expression": "solve_heat_1d(...)"
                  }
                },
                "wave_equation_frequency_validation": {
                  "description": "Verify wave equation frequencies against SymPy",
                  "summary": "Wave Equation Frequency Validation",
                  "value": {
                    "expression": "340.0  # m/s (speed of sound)"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {},
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "Successful computation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Invalid input"
          }
        },
        "summary": "SymPy Validation Workflow",
        "tags": [
          "advanced"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.mathhook.org/v1"
    }
  ],
  "tags": [
    {
      "description": "advanced operations",
      "name": "advanced"
    }
  ]
}