{
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "error": {
            "description": "Error message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Request": {
        "properties": {
          "expression": {
            "description": "Mathematical expression to evaluate",
            "type": "string"
          },
          "variables": {
            "description": "Variable values for evaluation",
            "type": "object"
          }
        },
        "required": [
          "expression"
        ],
        "type": "object"
      },
      "Response": {
        "properties": {
          "latex": {
            "description": "LaTeX representation",
            "type": "string"
          },
          "result": {
            "description": "Computed result",
            "type": "string"
          },
          "steps": {
            "description": "Step-by-step solution",
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "expression": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Comprehensive examples of noncommutative algebra in MathHook covering\nquantum mechanics, matrix algebra, and quaternion rotations.\n",
    "title": "Noncommutative Algebra Examples",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/advanced/noncommutative_examples": {
      "post": {
        "description": "Comprehensive examples of noncommutative algebra in MathHook covering\nquantum mechanics, matrix algebra, and quaternion rotations.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "matrix_equation_left_division": {
                  "description": "Solve A*X = B using left division X = A^(-1)*B",
                  "summary": "Matrix Equation Left Division",
                  "value": {
                    "expression": "MatrixSymbol('A', n, n)"
                  }
                },
                "quantum_commutator": {
                  "description": "Position-momentum canonical commutation relation [x,p] = iℏ",
                  "summary": "Quantum Commutator",
                  "value": {
                    "expression": "Operator('x')"
                  }
                },
                "quaternion_multiplication": {
                  "description": "Noncommutative quaternion basis multiplication i*j = k, j*i = -k",
                  "summary": "Quaternion Multiplication",
                  "value": {
                    "expression": "Quaternion(0, 1, 0, 0)"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {},
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "Successful computation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Invalid input"
          }
        },
        "summary": "Noncommutative Algebra Examples",
        "tags": [
          "advanced"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.mathhook.org/v1"
    }
  ],
  "tags": [
    {
      "description": "advanced operations",
      "name": "advanced"
    }
  ]
}