{
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "error": {
            "description": "Error message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Request": {
        "properties": {
          "expression": {
            "description": "Mathematical expression to evaluate",
            "type": "string"
          },
          "variables": {
            "description": "Variable values for evaluation",
            "type": "object"
          }
        },
        "required": [
          "expression"
        ],
        "type": "object"
      },
      "Response": {
        "properties": {
          "latex": {
            "description": "LaTeX representation",
            "type": "string"
          },
          "result": {
            "description": "Computed result",
            "type": "string"
          },
          "steps": {
            "description": "Step-by-step solution",
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "expression": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Work with matrices symbolically and numerically in MathHook, with full support\nfor noncommutative algebra where order matters. Create matrices, perform\noperations, and solve matrix equations.\n",
    "title": "Matrix Operations",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/advanced/matrices": {
      "post": {
        "description": "Work with matrices symbolically and numerically in MathHook, with full support\nfor noncommutative algebra where order matters. Create matrices, perform\noperations, and solve matrix equations.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "creating_matrices": {
                  "description": "Create matrix symbols and numeric matrices",
                  "summary": "Creating Matrices",
                  "value": {
                    "expression": "MatrixSymbol('A', n, m)"
                  }
                },
                "matrix_multiplication_(noncommutative)": {
                  "description": "A*B ≠ B*A in general",
                  "summary": "Matrix Multiplication (Noncommutative)",
                  "value": {
                    "expression": "MatrixSymbol('A', n, n)"
                  }
                },
                "solving_linear_system_ax=b": {
                  "description": "Solve matrix equation using inverse",
                  "summary": "Solving Linear System Ax=b",
                  "value": {
                    "expression": "Matrix([[2, 1], [1, -1]])"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {},
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "Successful computation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Invalid input"
          }
        },
        "summary": "Matrix Operations",
        "tags": [
          "advanced"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.mathhook.org/v1"
    }
  ],
  "tags": [
    {
      "description": "advanced operations",
      "name": "advanced"
    }
  ]
}