{
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "error": {
            "description": "Error message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Request": {
        "properties": {
          "expression": {
            "description": "Mathematical expression to evaluate",
            "type": "string"
          },
          "variables": {
            "description": "Variable values for evaluation",
            "type": "object"
          }
        },
        "required": [
          "expression"
        ],
        "type": "object"
      },
      "Response": {
        "properties": {
          "latex": {
            "description": "LaTeX representation",
            "type": "string"
          },
          "result": {
            "description": "Computed result",
            "type": "string"
          },
          "steps": {
            "description": "Step-by-step solution",
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "expression": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Solve ordinary differential equations (ODEs) and partial differential equations\n(PDEs) symbolically in MathHook, with support for initial conditions, boundary\nconditions, and various solution methods.\n",
    "title": "Differential Equation Solving",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/advanced/differential_equations": {
      "post": {
        "description": "Solve ordinary differential equations (ODEs) and partial differential equations\n(PDEs) symbolically in MathHook, with support for initial conditions, boundary\nconditions, and various solution methods.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "first-order_ode": {
                  "description": "Solve dy/dx = 2x with initial condition y(0) = 1",
                  "summary": "First-Order ODE",
                  "value": {
                    "expression": "symbol('x')"
                  }
                },
                "second-order_linear_ode": {
                  "description": "Solve y'' + y = 0 (simple harmonic oscillator)",
                  "summary": "Second-Order Linear ODE",
                  "value": {
                    "expression": "symbol('x')"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {},
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "Successful computation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Invalid input"
          }
        },
        "summary": "Differential Equation Solving",
        "tags": [
          "advanced"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.mathhook.org/v1"
    }
  ],
  "tags": [
    {
      "description": "advanced operations",
      "name": "advanced"
    }
  ]
}