{
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "error": {
            "description": "Error message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Request": {
        "properties": {
          "expression": {
            "description": "Mathematical expression to evaluate",
            "type": "string"
          },
          "variables": {
            "description": "Variable values for evaluation",
            "type": "object"
          }
        },
        "required": [
          "expression"
        ],
        "type": "object"
      },
      "Response": {
        "properties": {
          "latex": {
            "description": "LaTeX representation",
            "type": "string"
          },
          "result": {
            "description": "Computed result",
            "type": "string"
          },
          "steps": {
            "description": "Step-by-step solution",
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "expression": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Explanation of why Fourier coefficients in PDE solutions are returned as symbolic\nexpressions rather than numerical values. Covers the orthogonality principle,\nsymbolic integration requirements, and workarounds for computing coefficients manually.\n",
    "title": "Fourier Coefficients: Why They're Symbolic",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/advanced/pde/fourier_coefficients": {
      "post": {
        "description": "Explanation of why Fourier coefficients in PDE solutions are returned as symbolic\nexpressions rather than numerical values. Covers the orthogonality principle,\nsymbolic integration requirements, and workarounds for computing coefficients manually.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "manual_coefficient_computation_for_constant_initial_condition": {
                  "description": "Computing Fourier coefficients manually for heat equation with constant initial temperature",
                  "summary": "Manual Coefficient Computation for Constant Initial Condition",
                  "value": {
                    "expression": "solver.solve_heat_equation_1d(pde, alpha, bcs, ic)"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {},
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "Successful computation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Invalid input"
          }
        },
        "summary": "Fourier Coefficients: Why They're Symbolic",
        "tags": [
          "advanced"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.mathhook.org/v1"
    }
  ],
  "tags": [
    {
      "description": "advanced operations",
      "name": "advanced"
    }
  ]
}