{
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "error": {
            "description": "Error message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Request": {
        "properties": {
          "expression": {
            "description": "Mathematical expression to evaluate",
            "type": "string"
          },
          "variables": {
            "description": "Variable values for evaluation",
            "type": "object"
          }
        },
        "required": [
          "expression"
        ],
        "type": "object"
      },
      "Response": {
        "properties": {
          "latex": {
            "description": "LaTeX representation",
            "type": "string"
          },
          "result": {
            "description": "Computed result",
            "type": "string"
          },
          "steps": {
            "description": "Step-by-step solution",
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "expression": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Pattern matching is a powerful technique in MathHook for identifying, transforming,\nand simplifying mathematical expressions. MathHook combines Rust's native pattern\nmatching with specialized mathematical pattern recognition to enable sophisticated\nsymbolic manipulation including algebraic identities, calculus rules, and\ntrigonometric transformations.\n",
    "title": "Pattern Matching",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/core/pattern-matching": {
      "post": {
        "description": "Pattern matching is a powerful technique in MathHook for identifying, transforming,\nand simplifying mathematical expressions. MathHook combines Rust's native pattern\nmatching with specialized mathematical pattern recognition to enable sophisticated\nsymbolic manipulation including algebraic identities, calculus rules, and\ntrigonometric transformations.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "algebraic_pattern:_difference_of_squares": {
                  "description": "Recognizing and factoring difference of squares pattern",
                  "summary": "Algebraic Pattern: Difference of Squares",
                  "value": {
                    "expression": "symbol('a')"
                  }
                },
                "calculus_pattern:_power_rule_derivative": {
                  "description": "Automatic pattern recognition for power rule differentiation",
                  "summary": "Calculus Pattern: Power Rule Derivative",
                  "value": {
                    "expression": "symbol('x')"
                  }
                },
                "rust_native_pattern_matching_on_expressions": {
                  "description": "Using Rust's match statement to analyze expression structure",
                  "summary": "Rust Native Pattern Matching on Expressions",
                  "value": {
                    "expression": "expr('x^2 + 2*x + 1')"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {},
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "Successful computation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Invalid input"
          }
        },
        "summary": "Pattern Matching",
        "tags": [
          "core"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.mathhook.org/v1"
    }
  ],
  "tags": [
    {
      "description": "core operations",
      "name": "core"
    }
  ]
}