{
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "error": {
            "description": "Error message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Request": {
        "properties": {
          "expression": {
            "description": "Mathematical expression to evaluate",
            "type": "string"
          },
          "variables": {
            "description": "Variable values for evaluation",
            "type": "object"
          }
        },
        "required": [
          "expression"
        ],
        "type": "object"
      },
      "Response": {
        "properties": {
          "latex": {
            "description": "LaTeX representation",
            "type": "string"
          },
          "result": {
            "description": "Computed result",
            "type": "string"
          },
          "steps": {
            "description": "Step-by-step solution",
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "expression": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Complete installation guide for MathHook across Rust, Python, and Node.js platforms,\nincluding platform-specific requirements, troubleshooting, and optional features.\n",
    "title": "Installation",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/getting-started/installation": {
      "post": {
        "description": "Complete installation guide for MathHook across Rust, Python, and Node.js platforms,\nincluding platform-specific requirements, troubleshooting, and optional features.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "building_from_source": {
                  "description": "Complete source build for all platforms",
                  "summary": "Building from Source",
                  "value": {
                    "expression": "x**2"
                  }
                },
                "python_virtual_environment_setup": {
                  "description": "Best practice for Python installation using virtual environments",
                  "summary": "Python Virtual Environment Setup",
                  "value": {
                    "expression": "x**2"
                  }
                },
                "rust_installation_verification": {
                  "description": "Verify Rust installation with a simple test program",
                  "summary": "Rust Installation Verification",
                  "value": {
                    "expression": "Expression.symbol('x')"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {},
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "Successful computation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Invalid input"
          }
        },
        "summary": "Installation",
        "tags": [
          "getting-started"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.mathhook.org/v1"
    }
  ],
  "tags": [
    {
      "description": "getting-started operations",
      "name": "getting-started"
    }
  ]
}