{
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "error": {
            "description": "Error message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Request": {
        "properties": {
          "expression": {
            "description": "Mathematical expression to evaluate",
            "type": "string"
          },
          "variables": {
            "description": "Variable values for evaluation",
            "type": "object"
          }
        },
        "required": [
          "expression"
        ],
        "type": "object"
      },
      "Response": {
        "properties": {
          "latex": {
            "description": "LaTeX representation",
            "type": "string"
          },
          "result": {
            "description": "Computed result",
            "type": "string"
          },
          "steps": {
            "description": "Step-by-step solution",
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "expression": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "MathHook is a high-performance educational computer algebra system (CAS) written in Rust,\ndesigned to combine mathematical correctness with exceptional performance.\n",
    "title": "Introduction to MathHook",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/getting-started/introduction": {
      "post": {
        "description": "MathHook is a high-performance educational computer algebra system (CAS) written in Rust,\ndesigned to combine mathematical correctness with exceptional performance.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "calculus_operations": {
                  "description": "Compute derivatives and integrals",
                  "summary": "Calculus Operations",
                  "value": {
                    "expression": "symbol('x')"
                  }
                },
                "expression_building": {
                  "description": "Create mathematical expressions using macros",
                  "summary": "Expression Building",
                  "value": {
                    "expression": "symbol('x')"
                  }
                },
                "symbolic_computation": {
                  "description": "Perform algebraic manipulations",
                  "summary": "Symbolic Computation",
                  "value": {
                    "expression": "symbol('x')"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {},
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "Successful computation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Invalid input"
          }
        },
        "summary": "Introduction to MathHook",
        "tags": [
          "getting-started"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.mathhook.org/v1"
    }
  ],
  "tags": [
    {
      "description": "getting-started operations",
      "name": "getting-started"
    }
  ]
}