{
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "error": {
            "description": "Error message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Request": {
        "properties": {
          "expression": {
            "description": "Mathematical expression to evaluate",
            "type": "string"
          },
          "variables": {
            "description": "Variable values for evaluation",
            "type": "object"
          }
        },
        "required": [
          "expression"
        ],
        "type": "object"
      },
      "Response": {
        "properties": {
          "latex": {
            "description": "LaTeX representation",
            "type": "string"
          },
          "result": {
            "description": "Computed result",
            "type": "string"
          },
          "steps": {
            "description": "Step-by-step solution",
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "expression": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Symbolic differentiation in MathHook uses automatic differentiation with the chain rule, product rule, quotient rule, and function-specific derivative rules.\n",
    "title": "Symbolic Differentiation",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/operations/differentiation": {
      "post": {
        "description": "Symbolic differentiation in MathHook uses automatic differentiation with the chain rule, product rule, quotient rule, and function-specific derivative rules.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "chain_rule": {
                  "description": "d/dx(f(g(x))) = f'(g(x))·g'(x)",
                  "summary": "Chain Rule",
                  "value": {
                    "expression": "symbol('x')"
                  }
                },
                "power_rule": {
                  "description": "d/dx(x^n) = n*x^(n-1)",
                  "summary": "Power Rule",
                  "value": {
                    "expression": "symbol('x')"
                  }
                },
                "product_rule": {
                  "description": "d/dx(f·g) = f'·g + f·g'",
                  "summary": "Product Rule",
                  "value": {
                    "expression": "symbol('x')"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {},
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "Successful computation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Invalid input"
          }
        },
        "summary": "Symbolic Differentiation",
        "tags": [
          "operations"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.mathhook.org/v1"
    }
  ],
  "tags": [
    {
      "description": "operations operations",
      "name": "operations"
    }
  ]
}