{
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "error": {
            "description": "Error message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Request": {
        "properties": {
          "expression": {
            "description": "Mathematical expression to evaluate",
            "type": "string"
          },
          "variables": {
            "description": "Variable values for evaluation",
            "type": "object"
          }
        },
        "required": [
          "expression"
        ],
        "type": "object"
      },
      "Response": {
        "properties": {
          "latex": {
            "description": "LaTeX representation",
            "type": "string"
          },
          "result": {
            "description": "Computed result",
            "type": "string"
          },
          "steps": {
            "description": "Step-by-step solution",
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "expression": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Comprehensive symbolic polynomial manipulation capabilities in MathHook. Implements a trait-based\narchitecture for automatic classification, property computation, arithmetic operations, and GCD algorithms.\n",
    "title": "Polynomial Module Overview",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/polynomial/overview": {
      "post": {
        "description": "Comprehensive symbolic polynomial manipulation capabilities in MathHook. Implements a trait-based\narchitecture for automatic classification, property computation, arithmetic operations, and GCD algorithms.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "basic_polynomial_usage": {
                  "description": "Create polynomials and compute properties using trait-based API",
                  "summary": "Basic Polynomial Usage",
                  "value": {
                    "expression": "symbol('x')"
                  }
                },
                "content_and_primitive_part": {
                  "description": "Extract GCD of coefficients and primitive polynomial",
                  "summary": "Content and Primitive Part",
                  "value": {
                    "expression": "symbol('x')"
                  }
                },
                "polynomial_classification": {
                  "description": "Automatic detection of polynomial structure and variable extraction",
                  "summary": "Polynomial Classification",
                  "value": {
                    "expression": "symbol('x')"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {},
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "Successful computation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Invalid input"
          }
        },
        "summary": "Polynomial Module Overview",
        "tags": [
          "polynomial"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.mathhook.org/v1"
    }
  ],
  "tags": [
    {
      "description": "polynomial operations",
      "name": "polynomial"
    }
  ]
}