{
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "error": {
            "description": "Error message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Request": {
        "properties": {
          "expression": {
            "description": "Mathematical expression to evaluate",
            "type": "string"
          },
          "variables": {
            "description": "Variable values for evaluation",
            "type": "object"
          }
        },
        "required": [
          "expression"
        ],
        "type": "object"
      },
      "Response": {
        "properties": {
          "latex": {
            "description": "LaTeX representation",
            "type": "string"
          },
          "result": {
            "description": "Computed result",
            "type": "string"
          },
          "steps": {
            "description": "Step-by-step solution",
            "items": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "expression": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Symbolic and numeric matrix operations with full support for noncommutative algebra.\nMatrix symbols preserve multiplication order (AB ≠ BA), enabling correct handling of\nlinear algebra, quantum mechanics operators, and transformation matrices.\n",
    "title": "Matrix Operations and Noncommutative Algebra",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/api/matrix/operations": {
      "post": {
        "description": "Symbolic and numeric matrix operations with full support for noncommutative algebra.\nMatrix symbols preserve multiplication order (AB ≠ BA), enabling correct handling of\nlinear algebra, quantum mechanics operators, and transformation matrices.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "creating_matrix_symbols": {
                  "description": "Matrix symbols are noncommutative - order matters",
                  "summary": "Creating Matrix Symbols",
                  "value": {
                    "expression": "symbol('A', matrix"
                  }
                },
                "creating_numeric_matrices": {
                  "description": "Build matrices from expression arrays",
                  "summary": "Creating Numeric Matrices",
                  "value": {
                    "expression": "symbol('x')"
                  }
                },
                "matrix_multiplication_(critical!)": {
                  "description": "Order matters - demonstrate noncommutativity",
                  "summary": "Matrix Multiplication (Critical!)",
                  "value": {
                    "expression": "symbol('A', matrix"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {},
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "Successful computation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Invalid input"
          }
        },
        "summary": "Matrix Operations and Noncommutative Algebra",
        "tags": [
          "api"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.mathhook.org/v1"
    }
  ],
  "tags": [
    {
      "description": "api operations",
      "name": "api"
    }
  ]
}